html {
  font-family: Arial;
  font-size: 16px;
  line-height: 1;
}

.title-h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-h2 {
  font-size: 24px;
  font-weight: 600;
}

.title-h3 {
  font-size: 18px;
}
